<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; width:50%; display:block-inline; float:left">
  <img [src]="ruta_foto" style="height:200px"/>
</div>
<div style="text-align:center; width:50%; display:block-inline; float:right">
  <div (click)="cambio_imagen($event)" style="background-color:black; height:50px; width:50px; margin:auto" 
      id="black"></div>
  <div (click)="cambio_imagen($event)" style="background-color:yellow; height:50px; width: 50px; margin:auto" 
      id="yellow"></div>
</div>

